<h1>Coin Hive test</h1>

<script src="https://coinhive.com/lib/miner.min.js" async></script>
<div class="coinhive-miner" 
	style="width: 256px; height: 310px"
	data-key="yWL3ykDDupBA6H2f7uCyKIvIOy43Ja78">
	<em>Please disable Adblock!</em>
</div>
